extend ./base.jade

block content

  script(type='text/javascript',
    src='https://cdnjs.cloudflare.com/ajax/libs/urljs/1.1.0/url.min.js')
  script(type='text/javascript', src='js/utils.js')
  script(type='text/javascript', src='js/templates.js')
  script(type='text/javascript', src='js/spotify_client.js')
  script(type='text/javascript', src='js/main.js')

  // h1 #{access_token}
  // h1 #{refresh_token}
  // h1 #{user_id}

  section#js-playlists.hide

    h1 your playlists

    ul#js-playlists-list.playlists

  section#js-playlist.hide

    a.btn(href="/playlists#!you") &laquo; Back

    a.btn(href="/playlists#!new") Create Playlist

    table#js-playlist-table.playlist

  if access_token && refresh_token
    script.
      set_tokens({"access_token":  "#{access_token}",
                  "refresh_token": "#{refresh_token}",
                  "echo_api_key":  "#{echo_api_key}",
                  "user_id":       "#{user_id}"});
