extend ./base.jade

block content

  script(type='text/javascript',
    src='https://cdnjs.cloudflare.com/ajax/libs/urljs/1.1.0/url.min.js')
  script(type='text/javascript', src='js/footable.min.js')
  script(type='text/javascript', src='js/utils.js')
  script(type='text/javascript', src='js/templates.js')
  script(type='text/javascript', src='js/spotify_client.js')
  script(type='text/javascript', src='js/main.js')

  img(src="imgs/ajax.gif").ajax

  section#js-playlists.hide

    h1 your playlists

    ul#js-playlists-list.playlists

  section#js-playlist.hide

    a.btn(href="/playlists#!you") &laquo; Back

    form#js-save-playlist.save-playlist
      span Name:

      input(type="text")#js-save-playlist-name

      a.btn(href="#")#js-save-playlist-submit Save Playlist

    table#js-playlist-table.playlist.footable

    ul
      li Duration
      li BPM (beats per minute)
      li Key (musical key)
      li Mode (minor, major)
      li Time signature (Sig., beats per measure)
      li Popularity
      li Valence (how happy the song is)
      li Dancability (how easy it is to dance to)
      li Acousticness (how acoustic is the song)
      li Liveness (how likely the song was live)

  if access_token && refresh_token
    script.
      set_tokens({"access_token":  "#{access_token}",
                  "refresh_token": "#{refresh_token}",
                  "echo_api_key":  "#{echo_api_key}",
                  "user_id":       "#{user_id}"});
